
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme2</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
    <p>AMASYA</p>
</body>
</html>
