@model EntityLayer.Concrete.Skill
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@{ ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<h2>Yeni Yetenek Ekleme Sayfası</h2>

@using (Html.BeginForm("AddSkill", "Skill", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Yetenek Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

        <br /><br />
        @Html.Label("Yetenek Derecen")
        @Html.TextBoxFor(x => x.SkillPercentage, new { @class = "form-control" })

        <br /><br />
        <button class="btn btn-primary">Kaydet</button>
    </div>}

