
@{
    Layout = null;
}
@model EntityLayer.Concrete.About
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>AddAbout</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("AddAbout","About",FormMethod.Post))
            {
        <div class="form-group">
            @Html.Label("DETAY GİRİNİZ");
            @Html.TextBoxFor(x => x.AboutDetails1);
            <br /> <br />

            @Html.Label("DETAY2 GİRİNİZ");
            @Html.TextBoxFor(x => x.AboutDetails2);
            <br /> <br />
            <button class="btn btn-success">KAYDET</button>
        </div>
            }
    </div>
</body>
</html>
